# Task#1:

1. Install Jupyter notebook and run the first program and share the screenshot of the output.

In [74]:
print('This is mt first python code')

This is mt first python code

2.Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [75]:
srange = 2000
erange = 3200
for i in range(srange,erange+1,1):
    if (i%7)==0 and (i%5)!=0 :
        print(i,end=",") if ( i + 7 < erange )  else  print(i)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

3.Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [76]:
fname = input('Enter your first name :')
lname = input('Enter your Lase name :')

print('{} {}'.format(lname,fname))
print('{} {}'.format(lname[::-1],fname[::-1]))

Enter your first name :Jack
Enter your Lase name :Russel
Russel Jack
lessuR kcaJ

In [ ]:
4: Write a Python program to find the volume of a sphere with diameter 12 cm.

In [85]:
import math
dia =12
rad=dia/2
volume = (4 /3 )*math.pi*math.pow(rad,3)

print("Volume of the sphere with a diamter of {} cm is {} Cubic cm".format(dia,volume))

Volume of the sphere with a diamter of 12 cm is 904.7786842338603 Cubic cm

# Task#2:

In [ ]:
1.Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [79]:

seq=input("Enter sequence of comma-separated numbers : ")
a=seq.split(',',seq.count(','))
b=list(map(int,a))
print(type(b))
print(b)

Enter sequence of comma-separated numbers : 44,55,78,101,99,100,23,43,1,2,3,4,5,6,7
<class 'list'>
[44, 55, 78, 101, 99, 100, 23, 43, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
2.Create the below pattern using nested for loop in Python.

In [80]:
n=5


for i in range(0,n,1):
    print("*",end='')
    for j in range(0,i,1):
        print('*',end='')
    print("")
    
for k in range(n-1,0,-1):
    print("*",end='')
    for l in range(0,k-1,1):
        print('*',end='')
    print("")

*
**
***
****
*****
****
***
**
*

3:Write a Python program to reverse a word after accepting the input from the user.

In [81]:
uinput = input('Enter the word:')
print('Reverse of the enter work : {}'.format(uinput[::-1]))

Enter the word:AcadGild
Reverse of the enter work : dliGdacA

In [ ]:
4 : Write a Python Program to print the given string in the format specified in the sample output.

In [82]:
s="hello"
st= 'WE, THE PEOPLE OF INDIA,\n\x20\x20\x20\x20\x20\x20having solemnly resolved to constitute India into a SOVEREIGN,\
\x21\n\t\x20\x20\x20 SOCIALIST, SECULAR,\
DEMOCRATIC REPUBLIC\n\t\x20\x20\x20\x20 and to secure to all \
its citizens'
 
print(st)

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN,!
	    SOCIALIST, SECULAR,DEMOCRATIC REPUBLIC
	     and to secure to all its citizens